TD2TD-ecruz/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "TD2TD-ecruz"
		},
		"azuretrainingecruz_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'azuretrainingecruz'"
		},
		"ecruz_accessKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accessKey' of 'ecruz'"
		},
		"ecruz_properties_typeProperties_accountName": {
			"type": "string",
			"defaultValue": "ecruz"
		},
		"ecruz_properties_typeProperties_batchUri": {
			"type": "string",
			"defaultValue": "https://ecruz.eastus.batch.azure.com"
		},
		"ecruz_properties_typeProperties_poolName": {
			"type": "string",
			"defaultValue": "ecruz  "
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "Teradata Vantage on Azure training",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load to Vantage",
						"type": "Custom",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "cmd /c tbuild_load.bat",
							"resourceLinkedService": {
								"referenceName": "azuretrainingecruz",
								"type": "LinkedServiceReference"
							},
							"folderPath": "data",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "ecruz",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Transform in Vantage",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "Load to Vantage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "cmd /c bteq_transform.bat",
							"resourceLinkedService": {
								"referenceName": "azuretrainingecruz",
								"type": "LinkedServiceReference"
							},
							"folderPath": "data",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "ecruz",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ecruz')]",
				"[concat(variables('factoryId'), '/linkedServices/azuretrainingecruz')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/azuretrainingecruz')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('azuretrainingecruz_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ecruz')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBatch",
				"typeProperties": {
					"accountName": "[parameters('ecruz_properties_typeProperties_accountName')]",
					"accessKey": {
						"type": "SecureString",
						"value": "[parameters('ecruz_accessKey')]"
					},
					"batchUri": "[parameters('ecruz_properties_typeProperties_batchUri')]",
					"poolName": "[parameters('ecruz_properties_typeProperties_poolName')]",
					"linkedServiceName": {
						"referenceName": "azuretrainingecruz",
						"type": "LinkedServiceReference"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azuretrainingecruz')]"
			]
		}
	]
}