TD2TD-ecruz/PartialArmTemplates/ArmTemplate_7_8_2020_18_44_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "TD2TD-ecruz"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load to Vantage",
						"type": "Custom",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "cmd /c tbuild_load.bat",
							"resourceLinkedService": {
								"referenceName": "azuretrainingecruz",
								"type": "LinkedServiceReference"
							},
							"folderPath": "data",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "ecruz",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Transform in Vantage",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "Load to Vantage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "cmd /c bteq_transform.bat",
							"resourceLinkedService": {
								"referenceName": "azuretrainingecruz",
								"type": "LinkedServiceReference"
							},
							"folderPath": "data",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "ecruz",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ecruz')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ecruz')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBatch",
				"typeProperties": {
					"accountName": "ecruz",
					"accessKey": {
						"type": "SecureString",
						"value": "**********"
					},
					"batchUri": "https://ecruz.eastus.batch.azure.com",
					"poolName": "ecruz  ",
					"linkedServiceName": {
						"referenceName": "azuretrainingecruz",
						"type": "LinkedServiceReference"
					}
				}
			},
			"dependsOn": []
		}
	]
}